.questionBox {
  margin: 0 auto;
  background-color: rgb(13, 13, 58);
  border-radius: 7px;
  width: 550px;
  padding: 20px;
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);

  /* box-shadow: 2px 2px ; */
}
.optionUl {
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 0;
}
.question {
  margin-bottom: 20px;
  text-align: center;
}
.option {
  list-style-type: none;
  border-radius: 10px;
  margin: 0 auto;
}

.option button {
  background-color: rgb(113, 192, 234);
  border-radius: 10px;
  padding: 8px 0;
  border: none;
  width: 470px;
  cursor: pointer;
}

/*///////////////////////////////////////////////////////////////*/
.quizOver {
  background-color: rgb(220, 188, 253);
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.quizOverText {
  letter-spacing: 2.5px;
  color: rgb(58, 12, 101);
  font-family: "Roboto Condensed", sans-serif;
}
.progress {
  margin: 0 auto;
  width: 260px;
  display: block;
  /* background-color: rgb(47, 130, 255); */
}
.option button.selected {
  background: #f5a76c;
  color: #2c203d;
}
.option button.correct {
  background: #5af59d;
  color: #2c203d;
}
.option button.wrong {
  background: #f55a98;
  color: #2c203d;
}
